<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Inscription</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>

<body>
    <img src="{{ url_for('static', filename='favicon.webp') }}" alt="Logo sécurisé" width="150" height="150">
    <h2>Inscription</h2>
    <form method="POST">
        {{ form.hidden_tag() }}

        <div>
            <label for="username">{{ form.username.label }}</label>
            {{ form.username() }}
            {% if form.username.errors %}
            <ul>
                {% for error in form.username.errors %}
                <li style="color:red;">{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div>
            <label for="password">{{ form.password.label }}</label>
            {{ form.password() }}
            {% if form.password.errors %}
            <ul>
                {% for error in form.password.errors %}
                <li style="color:red;">{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div>
            <label for="confirm_password">{{ form.confirm_password.label }}</label>
            {{ form.confirm_password() }}
            {% if form.confirm_password.errors %}
            <ul>
                {% for error in form.confirm_password.errors %}
                <li style="color:red;">{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div>
            {{ form.recaptcha.label }} {{ form.recaptcha() }}
        </div>
        <div class="button-container">
            {{ form.submit() }}
            <a href="{{ url_for('login') }}">
                <button type="button">Retour à la connexion</button>
            </a>
        </div>
    </form>
</body>

</html>